@import "tailwindcss";

.perspective {
  perspective: 1000px;
}

@keyframes flip-top {
  0%   { transform: rotateX(0deg); }
  100% { transform: rotateX(-90deg); }
}

@keyframes flip-bottom {
  0%   { transform: rotateX(90deg); }
  100% { transform: rotateX(0deg); }
}

.animate-flip-top {
  animation: flip-top 0.3s ease-in forwards;
  transform-origin: bottom;
}

.animate-flip-bottom {
  animation: flip-bottom 0.3s ease-out 0.3s forwards;
  transform-origin: top;
}
